<div class="container-fluid">
  <h2>User Form</h2>
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label style="margin-right: 50px;">Name:</label>
      <input type="text" required name="name" class="form-control" [(ngModel)]="user.name" />
    </div>

    <br>

    <div class="form-group">
      <label style="margin-right: 65px;">Age</label>
      <input type="number" name="age" required class="form-control" [(ngModel)]="user.age" />
    </div>

    <br>

    <div class="form-group">
      <label style="margin-right: 10px;">Occupation: </label>
      <input type="text" required name="occupation" class="form-control" [(ngModel)]="user.occupation" />
    </div>
    
    <br>
    <div class="form-group button-group">
    <button class="submitButton" type="submit">Submit</button>
  </div>

  </form>
  <hr>
  <div *ngIf="submitted">
    <table>
      <thead>
        <tr>
          <th class="tableHead" >Name</th>
          <th class="tableHead">Age</th>
          <th class="tableHead">Occupation</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of formData">
          <td>{{user.name}}</td>
          <td>{{user.age}}</td>
          <td>{{user.occupation}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>