table {
    /* dont want space btwn the cells and the border */
    border-collapse: collapse; 
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid black;

  }
  
  th {
    font-weight: bold;
    color: black;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  